Django>=3.0,<4.0
psycopg2>=2.8
django-environ
whitenoise[brotli]
gunicorn
Pillow
#模板
django-admin-volt
#api
djangorestframework
# 异步任务和redis
django-celery-results
django_celery_beat
django_redis
celery
#登录
django-allauth
